/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    background: #f2f2f2;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}
#container {
    display: grid;
    grid-template-columns: 70px auto;
    height: 100%;
}
#container #content {
    padding: 30px 50px;
}
#container #content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#container #content ul li {
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 8px;
}
#container #content ul li a {
    font-size: 1.5em;
    text-decoration: none;
    font-weight: bold;
    color: #00a8ff;
}
#container #content ul li ul {
    margin-top: 20px;
}
#container #content ul li ul li {
    padding: 0;
}
#container #content ul li ul li a {
    font-size: 1em;
    font-weight: 300;
}
